*{
    margin: 0;
    padding: 0, 30px;
    box-sizing: content-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Heebo', sans-serif;
    font-weight: 5;
}

body, 
input,
textarea {
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
}

header {
    padding: 16x 0;
    background-color:#cc1313;
    color: #ecf0f1;
}

header nav li {
    display: flex;
    margin: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.laws img {
    display: inline;
    height: 70px;
    margin: 12px 0
}

.laws li {
    display: inline;
    margin-right: 16px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 32px 0;
    color: #cc1313;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    color: rgb(110, 110, 110);
    margin-bottom: 8px;
}

.logo {
    margin-right: 21px;
}

.social-links img {
    height: 32px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color:#cc1313;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #cc1313;
}

input:focus, textarea:focus {
    outline-color: #cc1313;
}

footer {
    background-color: #cc1313;
    color: #ecf0f1;
    padding: 16px 0;
}